<footer>
    <div class="column">
        <div class="column__info">
            <h1>Kontakt</h1>
            <div class="column__row">
                <div class="column__row--icon">
                    <img src="./../../assets/call-answer.png" alt="">
                </div>
                <div class="column__row--text">601 888 028</div>
            </div>
            <div class="column__row">
                <div class="column__row--icon"><img src="./../../assets/email.png" alt=""></div>
                <div class="column__row--text">byfyj@byfyj.pl</div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="column__info">
            <h1>Social</h1>
            <div class="column__row">
                <a href="https://www.facebook.com/ByfyjBabciGosi">
                    <div class="column__row--icon"><img src="./../../assets/facebook.png" alt=""></div>
                    <div class="column__row--text">Facebook</div>
                </a>
            </div>

            <div class="column__row">
                <a href="https://www.instagram.com/byfyj_babci_gosi/">
                    <div class="column__row--icon"><img src="./../../assets/instagram-logo.png" alt=""></div>
                    <div class="column__row--text">Instagram</div>
                </a>
            </div>
        </div>
    </div>
</footer>