@import './../../scss/variables.scss';
@import './../../scss/mixins.scss';

footer{
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: $color-main-dark;
   color: white;
   min-height: 25vh;
   @include shadow;
   position: relative;
   @include breakpoint(mobile-horizontal) {
    min-height: 25vw;
  }
}
.column{

    width: 40vw;
    margin-left: 10vw;
    display: inline-block;
    
    @include breakpoint(desktop) {
        width: 50%;
        margin-left: 0vw;
        min-height: 25vw;
        position: relative;
    }
    
    &__info{
        position: absolute;
        @include breakpoint(desktop) {
            @include center;
        }
        
    }

    h1{
        font-size: $font-size-middle-big;
        @include breakpoint(desktop) {
            font-size: $font-size-big;
            font-weight: inherit;
        }
    }
    &__row{
        
        a{
            text-decoration: none;
            color: white;
            &:hover{
                border-bottom: 1px solid white;
            }
        }
        &--icon{
            display: inline-block;
            margin-bottom: 1rem;
            img{
                width: 1.5rem;
                margin-right: .5rem;
                @include breakpoint(desktop) {
                    width: 2.5rem;
                }
            }
        }

        &--text{
            display: inline-block;
            font-size: 1.7rem;
            @include breakpoint(desktop) {
                font-size: 2.7rem;
            }
        }
    }
}