@import './../../../scss/variables.scss';
@import './../../../scss/mixins.scss';

button{
    position: relative;
    z-index: 100;
    transition: all 0.5s;
    width: 11rem;
    height: 3.5rem;
    border-radius: 4px;
    background-color: $color-main-dark;
    border:none;
    color: $color-white;
    font-weight: bold;
    @include shadow;
    &:hover{
      background-color: $color-main-dark-hover;
      transform: scale(1.05);
      @include shadow-small;
    }
    &:active{
      background-color: $color-main-dark-hover;
      transform: translateY(1px);
      @include shadow;
    }
  }