<div class="kontakt">
    <div class="kontakt__miasto">
        <h1>Tychy</h1>
        <h2>Sklepy <img src="./../../assets/shop.png" alt=""> </h2>
        <p> <img src="./../../assets/maps-and-flags.png" alt=""> ul. Wejchertów 10</p>
        <div class="kontakt__miasto--map">
            <iframe src="https://www.google.com/maps/d/embed?mid=1yF-f9VlLwWVxxoyMckNtlIZA9MhIk839"></iframe>
        </div>
    </div>
    <div class="kontakt__miasto">
        <h1>Pszczyna</h1>
        <h2>Sklepy <img src="./../../assets/shop.png" alt=""> </h2>
        <p> <img src="./../../assets/maps-and-flags.png" alt=""> ul. Bolesława Krzywoustego 1</p>
        <p> <img src="./../../assets/maps-and-flags.png" alt=""> ul. Męczenników Oświęcimskich 1</p>
        <div class="kontakt__miasto--map">
            <iframe src="https://www.google.com/maps/d/embed?mid=1bTn0U-5oRwDDVIKmejACQKnxzqC8l8D8"></iframe>
        </div>
    </div>
    <div class="kontakt__info">
        <h1>Telefon</h1>
        <h2>888 - 888 - 888</h2>
        <h1>Mail</h1>
        <h2>byfyj@byfyj.pl</h2>
    </div>
</div>