@import "./../../scss/variables.scss";
@import "./../../scss/mixins.scss";

.kontakt {
  color: $color-main-dark;

  &__miasto {
    padding: 3rem;
    &--text {
      @include breakpoint(desktop) {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        text-align: center;
        margin-top: 10%;
      }
    }
    h1 {
      font-size: $font-size-big;
      text-align: center;
      @include breakpoint(desktop) {
        transform: translateY(2rem);
      }
    }
    h2 {
      font-size: $font-size-middle;
      img {
        height: $font-size-middle;
        transform: translateY(20%);
      }
    }
    p {
      font-size: 1.8rem;
      img {
        height: $font-size-middle-small;
      }
    }
    &--map {
      padding-top: 2rem;
      width: 100%;
      height: 90vw;
      @include breakpoint(desktop) {
        width: 50%;
        height: 70vh;
        display: inline-block;
      }
      iframe {
        border: 1px solid $color-main-dark;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__info {
    text-align: center;
    margin-bottom: 2rem;
    @include breakpoint(desktop) {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

    &--box {
      @include breakpoint(desktop) {
        display: inline-block;
        width: 50%;
        vertical-align: top;
      }
    }
    h1 {
      padding-top: 1rem;
      font-size: $font-size-big;
      @include breakpoint(desktop) {
        font-size: $font-size-big;
      }
    }
    h2 {
      font-size: $font-size-middle-small;
      @include breakpoint(desktop) {
        font-size: $font-size-middle-big;
      }
    }
  }
}
