<div class="page-bg">
    <div class="menu">
        <h1>Menu</h1>
        <h2>Potrawy</h2>
        <div class="menu__potrawa" *ngFor="let dish of potrawy">
            <p><img src="./../../assets/room-service.png" alt="">{{dish}}</p>
        </div>
        <h2>Zupy</h2>
        <div class="menu__potrawa" *ngFor="let dish of zupy">
                <p><img src="./../../assets/room-service.png" alt="">{{dish}}</p>
            </div>
        <h2>Dodatki</h2>
        <div class="menu__potrawa" *ngFor="let dish of dodatki">
                <p><img src="./../../assets/room-service.png" alt="">{{dish}}</p>
            </div>
    </div>
</div>