@import './../../scss/variables.scss';
@import './../../scss/mixins.scss';

.page-bg{
    background-image: url(./../../assets/bg-home-wine.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 1rem;
}

.menu{
    border-radius: 2rem;
    text-align: center;
    background-color: rgba($color-main-light, .5);
    padding-bottom: 1rem;
    @include breakpoint(desktop) {
        margin: 5rem 10rem;
        padding: 5rem 10rem;
    }
    h1{
        margin-top: 1rem;
        font-size: $font-size-big;
        @include breakpoint(desktop) {
            transform: translateY(3rem);
        }
        
    }
    h2{
        font-size: $font-size-middle-big;
        margin-bottom: 1rem;
    }

    &__potrawa{
        text-align: left;
        margin-left: 2rem;
        margin-right: 2rem;
        img{
            display: inline-block;
            height: $font-size-middle-small;
            margin-right: .5rem;
            @include breakpoint(desktop) {
                height: $font-size-middle;
            }
        }
        p{
            font-size: $font-size-middle-small;
            display: inline-block;
            @include breakpoint(desktop) {
                font-size: $font-size-middle;
            }

        }
    }
}