<div class="page-bg">
    <div class="onas">
        <h1 class="onas__top">Szanowni</h1>
        <h1>Państwo</h1>
        <p>Naszą pasją jest kuchnia zdrowa, smaczna i oparta na tradycyjnych recepturach.</p>
        <h2>Naturalnie</h2>
        <p>Nie używamy żadnych konserwantów, sztucznych dodatków czy nawet gotowych mieszanek przypraw. Wszystko
            przygotowujemy tylko i wyłącznie ze świeżych składników.</p>
            <br>
            <p> W naszej kuchni nie ma miejsca dla mrożonek,
            półproduktów, konserwantów czy polepszaczy.</p>
        <h2>Z sercem</h2>
        <p>W przygotowanie dań wkładamy całe serce, zdobytą wiedzę i niemałe już doświadczenie.</p>
        <h2>Uczciwie</h2>
        <p>Naszą dewizą jest tanio i dobrze. A to oznacza, że oferowane posiłki cechuje krótki, przejrzysty skład,
            skromne opakowanie i możliwość zakupu na wagę. </p>
            <br>
            <p>Używanie przez nas tylko naturalnych sezonowych składników - przede
            wszystkim rosnących w naszym klimacie warzyw i owoców. </p>
        <h2>Zdrowo</h2>
        <p>Dzięki temu są one źródłem błonnika i zapewniają bogactwo witamin.</p>
        <h1 class="onas__top">Życzymy</h1>
        <h1>smacznego!</h1>
    </div>
</div>