@import './../../scss/variables.scss';
@import './../../scss/mixins.scss';

.page-bg{
    background-image: url(./../../assets/kitchen-ready-for-cooking.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 1rem;
}

.onas{
    border-radius: 2rem;
    background-color: rgba($color-main-light, .75);
    padding: 2rem;
    @include breakpoint(desktop) {
        margin: 5rem 10rem;
        padding: 5rem 10rem;
    }

    &__top{
        @include breakpoint(desktop) {
            transform: translateY(3rem);
        }
    }

    h1{
        text-align: center;
        font-size: $font-size-big;
    }
    h2{
        margin-top: 3rem;
        text-align: center;
        font-size: $font-size-middle;
        margin-bottom: 1rem;
        @include breakpoint(desktop) {
            font-size: $font-size-middle-big;
        }
    }
    p{
        font-size: $font-size-middle-small;
    }
}