/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: banboll-bold;
    src: url(assets/brannboll/BrannbollFS_PERSONAL.ttf) format("opentype");
  }

  @font-face {
    font-family: banboll;
    src: url(assets/brannboll/BrannbollSS_PERSONAL.ttf) format("opentype");
  }
  @font-face {
    font-family: Arima Madurai;
    src: url(assets/Arima_Madurai/ArimaMadurai-Regular.ttf) format("opentype");
  }

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Arima Madurai';
}

html {
    // This defines what 1rem is
    
    font-size: 62.5%;
    //background-color: aqua;
}

body {
    box-sizing: border-box;
}

h1 {
    font-family: banboll;
}
