$color-main-light: #DDC391;
$color-main-dark: #844625;
$color-main-dark-hover: #41291a;

$color-white: white;

$font-size-big: 7rem;
$font-size-middle-big: 4rem;
$font-size-middle: 3rem;
$font-size-middle-small: 2rem;
$font-size-small: 1.5rem;