@import "./../../scss/variables.scss";
@import "./../../scss/mixins.scss";



%image-basics {
  width: 95vw;
  height: 45vh;
  transform: translateY(-9vh);
  @include breakpoint(mobile-horizontal) {
    width: 95vh;
    height: 45vw;
    transform: translateY(-5vw);
  }
  @include breakpoint(tablet) {
    width: 70vw;
    height: 45vh;
    transform: translateY(-9vh);
  }
  @include breakpoint(tablet-horizontal) {
    width: 70vh;
    height: 45vw;
    transform: translateY(-5vw);
  }
  @include breakpoint(desktop) {
    width: 35vw;
    height: 55vh;
    transform: translateY(-5vw);
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0 50% 50% 0;
    @include shadow-small;
  }
}

%info-basics {
  width: 85vw;
  height: 40vh;
  background-color: $color-main-light;
  border-radius: 0 50% 50% 0;
  border-top: 2px solid $color-main-dark;
  border-bottom: 2px solid $color-main-dark;
  border-right: 2px solid $color-main-dark;
  @include breakpoint(mobile-horizontal) {
    width: 85vh;
    height: 40vw;
  }
  @include breakpoint(tablet) {
    width: 65vw;
    height: 40vh;
  }
  @include breakpoint(tablet-horizontal) {
    width: 65vh;
    height: 40vw;
  }
  @include breakpoint(desktop) {
    width: 30vw;
    height: 50vh;
  }
}

%text-basics {
  color: $color-main-dark;
  padding-left: 2rem;
  h1 {
    font-size: $font-size-big;
    font-weight: inherit;
    margin-top: 1rem;
    @include breakpoint(desktop) {
      transform: translateY(2.5rem);
    }
  }
  p {
    margin-top: 1rem;
    font-size: $font-size-small;
    margin-bottom: 1rem;
  }
}

.home {
  margin-bottom: 4rem;

  &__welcome{
    @include center;

    &--text{
      text-align: center;
      &-h1{
        background-color: rgba($color-main-light, .9);
        padding: 0 2.5rem;
        border-radius: .5rem;
        border: 2px solid $color-main-dark;
        @include shadow-small;
      }
      img{
        height: 20rem;
        width: auto;
        display: inline-block;
      }
      h1{
        font-size: 6rem;
        transform: translateY(1rem);
        color: $color-main-dark;
        font-weight: inherit;
      }
    }
  }


  &__image {
    height: 100vh;
    border-radius: 0 25rem 0 25rem;
    background-image: url(./../../assets/home.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    @include shadow;
    @include breakpoint(mobile-horizontal) {
      height: 100vw;
    }
    @include breakpoint(desktop) {
      height: 100vh;
      margin-bottom: 5rem;
      border-radius: 0 0rem 0 0rem;
    }

    &--textUp {
      padding-top: 3rem;
      padding-left: 24rem;
      h1 {
        font-size: $font-size-middle;
        text-align: right;
        transform: rotate(45deg);
        color: $color-main-dark;
      }
      @include breakpoint(mobile-horizontal) {
        padding-top: 0rem;
        padding-left: 55rem;
      }
      @include breakpoint(tablet-horizontal) {
        padding-top: 0rem;
        padding-left: 85rem;
      }
    }
    &--textDown {
      bottom: 0px;
      position: absolute;
      padding-bottom: 3rem;
      padding-left: 1rem;

      h1 {
        font-size: $font-size-middle;
        transform: rotateZ(45deg);
        color: $color-main-dark;
      }
    }

    &--b {
      @include center;
      opacity: 0.9;
    }

    &--b-1 {
      width: 60vw;
      height: 25vh;
      background-color: $color-main-light;
      border-radius: 0 50% 50% 0;
      transform: translateY(6rem);
      @include breakpoint(mobile-horizontal) {
        width: 60vh;
        height: 25vw;
      }
      @include breakpoint(tablet) {
        width: 40vh;
        height: 40vw;
      }
      @include breakpoint(tablet-horizontal) {
        width: 40vw;
        height: 40vh;
      }
    }
    &--b-2 {
      width: 70vw;
      height: 30vh;
      background-color: $color-main-light;
      border-radius: 0 50% 50% 0;
      @include breakpoint(mobile-horizontal) {
        width: 70vh;
        height: 30vw;
      }
      @include breakpoint(tablet) {
        width: 45vh;
        height: 45vw;
      }
      @include breakpoint(tablet-horizontal) {
        width: 45vw;
        height: 45vh;
      }
    }

    &--logo {
      @include center;
      img {
        width: 45vw;
        height: 20vh;
        transform: translate(-2.5rem, 3rem);
        @include breakpoint(mobile-horizontal) {
          width: 45vh;
          height: 20vw;
        }
        @include breakpoint(tablet) {
          width: 40vw;
          height: 26vh;
          transform: translate(-5.5rem, 3rem);
        }
        @include breakpoint(tablet-horizontal) {
          width: 40vh;
          height: 26vw;
          transform: translate(-5.5rem, 3rem);
        }
      }
    }
  }

  &__usluga {
    margin-top: 3rem;
    margin-bottom: -7rem;
    &-mobile {
      @include breakpoint(desktop) {
        width: 50%;
        display: inline-block;
      }
    }
    &-desktop {
      position: relative;
      height: 100vh;
      @include breakpoint(desktop) {
        width: 50%;
        display: inline-block;
        vertical-align: top;
      }
      &--text {
        @include center;
        width: 100%;
        font-size: 2.5rem;
        padding-right: 6rem;
        &-r{
          @include center;
          width: 100%;
          font-size: 2.5rem;
          padding-right: 0rem;
          padding-left: 6rem;
        }
      }
    }

    &--info {
      @extend %info-basics;
      @include shadow-small;
      @include breakpoint(desktop) {
        position: relative;
      }
      &-text {
        @extend %text-basics;
        @include breakpoint(tablet) {
          h1 {
            text-align: center;
            padding-right: 10rem;
          }
        }
        @include breakpoint(desktop) {
          h1 {
            @include center;
            padding-bottom: 3rem;
            font-size: 10rem;
          }
        }
        &-tablet {
          padding-right: 5rem;
          padding-top: 1rem;
        }
      }
    }

    &--info-r {
      @extend %info-basics;
      margin-left: 15vw;
      border-radius: 50% 0 0 50%;
      border-right: none;
      border-left: 2px solid $color-main-dark;
      @include breakpoint(desktop) {
        position: relative;
        float: right;
      }
      &-text {
        @extend %text-basics;
        text-align: right;
        margin-right: 2rem;
        @include breakpoint(tablet) {
          text-align: center;
        }
        @include breakpoint(desktop) {
          h1 {
            @include center;
            padding-bottom: 3rem;
            font-size: 10rem;
          }
        }
        &-tablet {
          text-align: left;
          margin-left: 3rem;
        }
      }
      @include breakpoint(mobile-horizontal) {
        margin-left: 60vw;
      }
      @include breakpoint(tablet) {
        margin-left: 35vw;
      }
      @include breakpoint(tablet-horizontal) {
        margin-left: 52vw;
      }
      @include breakpoint(desktop) {
        margin-left: 19vw;
      }
    }

    &--image {
      @extend %image-basics;
    }

    &--image-r {
      @extend %image-basics;
      img {
        border-radius: 50% 0 0 50%;
      }
      margin-left: 5vw;
      @include breakpoint(mobile-horizontal) {
        margin-left: 55vw;
      }
      @include breakpoint(tablet) {
        margin-left: 30vw;
      }
      @include breakpoint(tablet-horizontal) {
        margin-left: 48vw;
      }
      @include breakpoint(desktop) {
        margin-left: 14vw;
        float: right;
      }
    }
  }

  &__divider {
    height: 14vw;
    position: relative;
    margin-top: 4rem;

    &--line {
      width: 31vw;
      margin-left: 6vw;
      margin-right: 6vw;
      height: 50%;
      display: inline-block;
      border-top: 2px solid $color-main-dark;
      @include breakpoint(desktop) {
        height: 35%;
      }
    }

    &--icon {
      display: inline-block;
      img {
        height: 14vw;
        @include breakpoint(desktop) {
          height: 10vw;
        }
      }
    }
  }
}

:host {
  .my-prompt {
    .title {
      font-size: $font-size-middle-big;
      text-align: center;
      h1 {
        font-weight: inherit;
      }
    }
    .text {
      font-size: $font-size-small;
      &__center {
        text-align: center;
      }
    }
    footer {
      margin-top: 2rem;
      text-align: center;
    }
  }
}
